**/lib*.a
**/CTestTestfile.cmake
**/cmake_install.cmake
**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
test/**/*.cmake
build*
[Rr]elease*
[Dd]ebug*
[Ff]ast[Dd]ebug*
cmake-build-*
*~
compile_commands.json
.vscode
simdb_verif_results